[Unit]
Description=Shutdown
After=network.target

[Service]
User=octoprint
ExecStart=/usr/bin/python -u /home/octoprint/raspberry-remote-shutdown/shutdown.py
StandardOutput=inherit
StandardError=inherit
Restart=always

[Install]
WantedBy=multi-user.target
